.inflation {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.inflation__table__value {
    font-weight: bold;
    color: var(--info-color);
}

.inflation__table__actions__delete {
    color: var(--danger-color);
}