<form class="cauquen-form" [formGroup]="form">

    <mat-form-field>
        <mat-label>{{'CORE.FORM.FIELD.DATE' | translate}}</mat-label>
        <input matInput formControlName="date" [matDatepicker]="picker">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

    <span class="cauquen-form__toggle-field">
        <h4 class="cauquen-form__toggle-field__label">Entrada de dinero:</h4>
        <mat-slide-toggle formControlName="income"></mat-slide-toggle>
    </span>

    <mat-form-field floatLabel="always">
        <mat-label>{{'CORE.FORM.FIELD.AMOUNT' | translate}}</mat-label>
        <input matInput formControlName="amount" type="number" placeholder="0.00">
        <span matTextPrefix>$&nbsp;</span>
    </mat-form-field>


    <cauquen-confirm-footer
        (cancel)="cancel()"
        (confirm)="confirm()">
    </cauquen-confirm-footer>

</form>