.fixed-rate {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.fixed-rate__table__value {
    font-weight: bold;
    color: var(--info-color);
}

.fixed-rate__table__actions__delete {
    color: var(--danger-color);
}