<form class="cauquen-form" [formGroup]="form">

    <span class="country-record-form__header"> 

        <bizy-input 
            label="{{'CORE.FORM.FIELD.DATE' | translate}}"
            type="month-year"
            [control]="_date">
        
            <span input-end><i class="fa-solid fa-calendar"></i></span>
        
            <bizy-error input-error *ngIf="_date.hasError('required')">{{'CORE.FORM.ERROR.REQUIRED' | translate}}</bizy-error>
            
        </bizy-input>

        <bizy-button (onSelect)="onSearch()">{{'CORE.FORM.FIELD.SEARCH' | translate}}</bizy-button>

    </span>
    
    
    <bizy-card>
    
        <span class="country-record-form__card">
    
            <span class="country-record-form__card__section">
    
                <h4 class="country-record-form__card__section__title">{{'CORE.FORM.FIELD.INFLATION' | translate}} (%)</h4>
    
                <h4 class="country-record-form__card__section__value" [bizyLoading]="loading">{{ipc | number : '1.2-2'}}</h4>
    
            </span>
    
            <span class="country-record-form__card__section">
    
                <h4 class="country-record-form__card__section__title">{{'CORE.FORM.FIELD.FIXED_RATE' | translate}} (%)</h4>
    
                <h4 class="country-record-form__card__section__value" [bizyLoading]="loading">{{fixedRate | number : '1.2-2'}}</h4>
    
            </span>
    
            <span class="country-record-form__card__section">
    
                <h4 class="country-record-form__card__section__title">{{'CORE.FORM.FIELD.RETAIL_DOLLAR' | translate}} ($)</h4>
    
                <h4 class="country-record-form__card__section__value" [bizyLoading]="loading">{{retailDollar | number : '1.2-2'}}</h4>
    
            </span>
    
            <span class="country-record-form__card__section">
    
                <h4 class="country-record-form__card__section__title">{{'CORE.FORM.FIELD.MEP_DOLLAR' | translate}} ($)</h4>
    
                <h4 class="country-record-form__card__section__value" [bizyLoading]="loading">{{mepDollar | number : '1.2-2'}}</h4>
    
            </span>
    
            <span class="country-record-form__card__section">
    
                <h4 class="country-record-form__card__section__title">{{'CORE.FORM.FIELD.CCL_DOLLAR' | translate}} ($)</h4>
    
                <h4 class="country-record-form__card__section__value" [bizyLoading]="loading">{{cclDollar | number : '1.2-2'}}</h4>
    
            </span>

            <span class="country-record-form__card__section">
    
                <h4 class="country-record-form__card__section__title">{{'CORE.FORM.FIELD.CRYPTO_DOLLAR' | translate}} ($)</h4>
    
                <h4 class="country-record-form__card__section__value" [bizyLoading]="loading">{{cryptoDollar | number : '1.2-2'}}</h4>
    
            </span>
    
        </span>
    
    </bizy-card>

    <bizy-confirm-buttons
        (cancel)="_cancel()"
        (confirm)="_confirm()">
    </bizy-confirm-buttons>

</form>