.country-record-form__header {
    width: 100%;
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
}

.country-record-form__card {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.country-record-form__card__section {
    display: grid;
    grid-template-columns: 14rem auto;
    align-items: center;
}

.country-record-form__card__section__title {
    color: var(--bizy-info-color);
    justify-self: start;
}

.country-record-form__card__section__value {
    justify-self: end;
}