<form class="cauquen-form" [formGroup]="form">

    <span class="country-record-form__header"> 

        <bizy-date-picker
            [disabled]="loading"
            [date]="_date.value"
            (onChange)="_date.setValue($event); onSearch()">
            <h6 slot="header" class="cauquen-title"><strong>{{'CORE.FORM.FIELD.DATE' | translate}}</strong></h6>
        </bizy-date-picker>

        <bizy-button (onSelect)="onSearch()">{{'CORE.FORM.FIELD.SEARCH' | translate}}</bizy-button>

    </span>
    
    
    <bizy-card>
    
        <span class="country-record-form__card">
    
            <span class="country-record-form__card__section">
    
                <h4 class="country-record-form__card__section__title">{{'CORE.FORM.FIELD.INFLATION' | translate}} (%)</h4>
    
                <h4 class="country-record-form__card__section__value" [bizyLoading]="loading">{{ipc | number : '1.2-2'}}</h4>
    
            </span>
    
            <span class="country-record-form__card__section">
    
                <h4 class="country-record-form__card__section__title">{{'CORE.FORM.FIELD.FIXED_RATE' | translate}} (%)</h4>
    
                <h4 class="country-record-form__card__section__value" [bizyLoading]="loading">{{fixedRate | number : '1.2-2'}}</h4>
    
            </span>
    
            <span class="country-record-form__card__section">
    
                <h4 class="country-record-form__card__section__title">{{'CORE.FORM.FIELD.RETAIL_DOLLAR' | translate}} ($)</h4>
    
                <h4 class="country-record-form__card__section__value" [bizyLoading]="loading">{{retailDollar | number : '1.2-2'}}</h4>
    
            </span>
    
            <span class="country-record-form__card__section">
    
                <h4 class="country-record-form__card__section__title">{{'CORE.FORM.FIELD.MEP_DOLLAR' | translate}} ($)</h4>
    
                <h4 class="country-record-form__card__section__value" [bizyLoading]="loading">{{mepDollar | number : '1.2-2'}}</h4>
    
            </span>
    
            <span class="country-record-form__card__section">
    
                <h4 class="country-record-form__card__section__title">{{'CORE.FORM.FIELD.CCL_DOLLAR' | translate}} ($)</h4>
    
                <h4 class="country-record-form__card__section__value" [bizyLoading]="loading">{{cclDollar | number : '1.2-2'}}</h4>
    
            </span>

            <span class="country-record-form__card__section">
    
                <h4 class="country-record-form__card__section__title">{{'CORE.FORM.FIELD.CRYPTO_DOLLAR' | translate}} ($)</h4>
    
                <h4 class="country-record-form__card__section__value" [bizyLoading]="loading">{{cryptoDollar | number : '1.2-2'}}</h4>
    
            </span>
    
        </span>
    
    </bizy-card>

    <span class="cauquen-confirm-buttons">

        <bizy-button class="cauquen-confirm-buttons__cancel" (onSelect)="_cancel()">
            <h5><i class="fa-solid fa-xmark"></i></h5>
            <h5>{{'CORE.BUTTON.CANCEL' | translate}}</h5>
        </bizy-button>

        <bizy-button class="cauquen-confirm-buttons__confirm" (onSelect)="_confirm()">
            <h5>{{'CORE.BUTTON.CONFIRM' | translate}}</h5>
            <h5><i class="fa-solid fa-check"></i></h5>
        </bizy-button>

    </span>

</form>