.show-hide-password {
  display: flex;
  width: 100%;
  align-items: center;
}

.type-toggle {
  padding-inline-start: 0.5rem;
}

.type-toggle .show-option,
.type-toggle .hide-option {
  padding: 1em;
  font-size: 1.2rem;
  display: block;
}