<bizy-toolbar>

    <h1 slot=start>{{'HISTORY.TITLE' | translate}}</h1>

</bizy-toolbar>

<div class="cauquen-wrapper history">

    <bizy-table [bizyLoading]="loading">

        <bizy-table-header>
    
            <bizy-table-column [ngStyle]="{flex: 3}" (onSelect)="onSort('date')">
                <h5 class="cauquen-action--info"><strong>{{'CORE.FORM.FIELD.DATE' | translate}}</strong></h5>
                <bizy-table-column-arrows [order]="order" [show]="orderBy === 'date'"></bizy-table-column-arrows>
            </bizy-table-column>
    
            <bizy-table-column [ngStyle]="{flex: 3}" (onSelect)="onSort('amount')">
                <h5 class="cauquen-action--info"><strong>{{'CORE.FORM.FIELD.AMOUNT' | translate}}</strong></h5>
                <bizy-table-column-arrows [order]="order" [show]="orderBy === 'amount'"></bizy-table-column-arrows>
            </bizy-table-column>
    
            <bizy-table-column [ngStyle]="{flex: 3}" (onSelect)="onSort('balance')">
                <h5 class="cauquen-action--info"><strong>{{'CORE.FORM.FIELD.BALANCE' | translate}}</strong></h5>
                <bizy-table-column-arrows [order]="order" [show]="orderBy === 'balance'"></bizy-table-column-arrows>
            </bizy-table-column>
    
            <bizy-table-column [ngStyle]="{flex: 1}"></bizy-table-column>
    
        </bizy-table-header>
    
        <bizy-table-row *ngFor="let record of records | bizyOrderBy: order : orderBy" [customClass]="!record.amount ? 'history__table__row--end-of-month' : ''">
    
            <bizy-table-column [ngStyle]="{flex: 3}" (onSelect)="editRecord(record)"><h6>{{record.date | date: 'dd/MM/YYYY'}}</h6></bizy-table-column>
    
            <bizy-table-column [ngStyle]="{flex: 3}" (onSelect)="editRecord(record)"><h6 [ngClass]="{'history__table__income': record.amount > 0, 'history__table__expense': record.amount < 0}">$ {{record.amount | number : '1.2-2'}}</h6></bizy-table-column>
    
            <bizy-table-column [ngStyle]="{flex: 3}" (onSelect)="editRecord(record)"><h6>$ {{record.balance | number : '1.2-2'}}</h6></bizy-table-column>
    
            <bizy-table-column [ngStyle]="{flex: 1}" customClass="cauquen-table-column-center" (onSelect)="openConfirmPopup(record)"><i class="fa-solid fa-trash-alt cauquen-action cauquen-action--danger"></i></bizy-table-column>
    
        </bizy-table-row>
    
    </bizy-table>

    <span *ngIf="records.length === 0" class="cauquen__table--empty">{{'CORE.EMPTY' | translate}}</span>

    <button mat-fab color="primary" (click)="addRecord()">
        <mat-icon>add</mat-icon>
    </button>
</div>