.history__table__income {
    font-weight: bold;
    color: var(--success-color);
}

.history__table__expense {
    font-weight: bold;
    color: var(--danger-color);
}

.history__table__balance {
    font-weight: bold;
    color: var(--info-color);
}

.history__table__actions__delete {
    color: var(--danger-color);
}