<form class="cauquen-form" [formGroup]="form">

    <mat-form-field>
        <mat-label>{{'CORE.FORM.FIELD.COUNTRY' | translate}}</mat-label>
        <mat-select formControlName="country">
            <mat-option *ngFor="let country of COUNTRIES" [value]="country.id">{{country.name | translate}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>{{'CORE.FORM.FIELD.FROM' | translate}}</mat-label>
        <input matInput formControlName="from" [matDatepicker]="fromPicker">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="fromPicker"></mat-datepicker-toggle>
        <mat-datepicker #fromPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <mat-label>{{'CORE.FORM.FIELD.TO' | translate}}</mat-label>
        <input matInput formControlName="to" [matDatepicker]="toPicker">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="toPicker"></mat-datepicker-toggle>
        <mat-datepicker #toPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field floatLabel="always">
        <mat-label>{{'CORE.FORM.FIELD.INFLATION' | translate}}</mat-label>
        <input matInput formControlName="ipc" type="number" placeholder="0.00" min="0">
        <mat-error *ngIf="ipc.hasError('required')">{{'CORE.FORM.ERROR.REQUIRED' | translate}}</mat-error>
        <mat-error *ngIf="ipc.hasError('min')">{{'CORE.FORM.ERROR.MIN' | translate}} {{MIN_VALUE}}</mat-error>
        <span matTextSuffix>%</span>
    </mat-form-field>

    <mat-form-field floatLabel="always">
        <mat-label>{{'CORE.FORM.FIELD.BALANCE' | translate}}</mat-label>
        <input matInput formControlName="fixedRate" type="number" placeholder="0.00" min="0">
        <mat-error *ngIf="fixedRate.hasError('required')">{{'CORE.FORM.ERROR.REQUIRED' | translate}}</mat-error>
        <mat-error *ngIf="fixedRate.hasError('min')">{{'CORE.FORM.ERROR.MIN' | translate}} {{MIN_VALUE}}</mat-error>
        <span matTextSuffix>%</span>
    </mat-form-field>

    <cauquen-confirm-footer
        (cancel)="cancel()"
        (confirm)="confirm()">
    </cauquen-confirm-footer>

</form>