html:root {
    --primary-color: #07368C;
    --light-primary-color: #245BC1;
    --dark-primary-color: #0e1a32;
    --secondary-color: #240991;
    --light-secondary-color: #240991;
    --secondary-color: #4829C6;
    --dark-secondary-color: #130356;
    --accent-color: #008375;
    --light-accent-color: #12B9A8;
    --dark-accent-color: #004D45;

    --hover-color: #f3f3f3;
    --background-color: #c1d6fe;

    --success-color: #5fbc5a;
    --default-color: #666666;
    --info-color: #2b94f4;
    --warning-color: #f7a64c;
    --danger-color: #e76565;
}