html:root {
    --primary-color: #07368C;
    --light-primary-color: #245BC1;
    --dark-primary-color: #0e1a32;
    --secondary-color: #240991;
    --light-secondary-color: #240991;
    --secondary-color: #4829C6;
    --dark-secondary-color: #130356;
    --accent-color: #16aa88;
    --light-accent-color: #e4faf6;
    --dark-accent-color: #094839;

    --hover-color: #f3f3f3;
    --text-color: #040d1e;
    --background-color: #c1d6fe;

    --success-color: #5fbc5a;
    --light-success-color: #dfeddd;
    --dark-success-color: #3f8e3a;
    --default-color: #666;
    --light-default-color: #eee;
    --dark-default-color: #333;
    --info-color: #2b94f4;
    --light-info-color: #e2eefa;
    --dark-info-color: #355b7f;
    --alert-color: #fffe56;
    --light-alert-color: #fffdc8;
    --dark-alert-color: #7e7915;
    --warning-color: #f7a64c;
    --light-warning-color: #fde5c9;
    --dark-warning-color: #c07b2d;
    --danger-color: #e76565;
    --light-danger-color: #ffe0e0;
    --dark-danger-color: #c34b4b;
}