/* You can add global styles to this file, and also import other style files */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
}

.cauquen-wrapper {
    padding: 1em;
}

.cauquen-form {
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
    overflow: hidden;
}

.cauquen-form__toggle-field {
    display: flex;
    justify-content: space-between;
    width: 100%;
    column-gap: 0.5em;
}

.cauquen-form__toggle-field__label {
    font-weight: bold;
    color: var(--primary-color);
}

.cauquen-card {
    background-color: #fff;
    border-radius: 0.5em;
    box-shadow:
        0 4px 6px rgb(50 50 93 / 11%),
        0 1px 3px rgb(0 0 0 / 8%);
    padding: 0.5em;
    transition: transform 250ms ease-in-out;
    height: 100%;
    width: 100%;
}

.cauquen-card:hover {
    box-shadow:
        0 7px 14px rgb(50 50 93 / 10%),
        0 3px 6px rgb(0 0 0 / 8%);
    transform: translateY(-1px);
}

.cauquen__table--empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20em;
    width: 100%;
    text-align: center;
}

.cauquen-action {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 100ms ease;
}

.cauquen-action:hover {
    transform: translateY(-0.1rem);
    font-size: 1.1rem;
}

.cauquen-action--primary {
    color: var(--primary-color) !important;
}

.cauquen-action--success {
    color: var(--success-color) !important;
}

.cauquen-action--default {
    color: var(--default-color) !important;
}

.cauquen-action--info {
    color: var(--info-color) !important;
}

.cauquen-action--warning {
    color: var(--warning-color) !important;
}

.cauquen-action--danger {
    color: var(--danger-color) !important;
}

.cauquen-table-column-center {
    justify-content: center;
}

.cauquen-button--accent {
    background-color: var(--accent-color) !important;
}

.cauquen-button--success {
    background-color: var(--success-color) !important;
}

.cauquen-button--default {
    background-color: var(--primary-color) !important;
}

.cauquen-button--info {
    background-color: var(--info-color) !important;
}

.cauquen-button--warning {
    background-color: var(--warning-color) !important;
}

.cauquen-button--danger {
    background-color: var(--danger-color) !important;
}