<form class="cauquen-form" [formGroup]="form">

    <cauquen-title title="Registro"></cauquen-title>

    <bizy-input 
        label="{{'CORE.FORM.FIELD.DATE' | translate}}"
        type="date"
        [control]="date">

        <span input-end><i class="fa-solid fa-calendar"></i></span>

        <bizy-error input-error *ngIf="date.hasError('required')">{{'CORE.FORM.ERROR.REQUIRED' | translate}}</bizy-error>
        
    </bizy-input>

    <span class="cauquen-form__toggle-field">
        <h4 class="cauquen-form__toggle-field__label">Entrada de dinero:</h4>
        <bizy-toggle [checked]="income.value"></bizy-toggle>
    </span>

    <bizy-input 
        label="{{'CORE.FORM.FIELD.AMOUNT' | translate}}"
        type="number"
        placeholder="0.00"
        [min]="0"
        [control]="amount">
        <span input-start>$&nbsp;</span>

        <bizy-error input-error *ngIf="amount.hasError('required')">{{'CORE.FORM.ERROR.REQUIRED' | translate}}</bizy-error>
        <bizy-error input-error *ngIf="amount.hasError('min')">{{'CORE.FORM.ERROR.MIN' | translate}} {{MIN_VALUE}}</bizy-error>
        
    </bizy-input>

    <bizy-input 
        label="{{'CORE.FORM.FIELD.BALANCE' | translate}}"
        type="number"
        placeholder="0.00"
        [min]="0"
        [control]="balance">
        <span input-start>$&nbsp;</span>

        <bizy-error input-error *ngIf="balance.hasError('required')">{{'CORE.FORM.ERROR.REQUIRED' | translate}}</bizy-error>
        <bizy-error input-error *ngIf="balance.hasError('min')">{{'CORE.FORM.ERROR.MIN' | translate}} {{MIN_VALUE}}</bizy-error>
        
    </bizy-input>

    <bizy-confirm-buttons
        (cancel)="cancel()"
        (confirm)="confirm()">
    </bizy-confirm-buttons>

</form>