<bizy-toolbar>

    <h1 slot=start>{{'INFO.TITLE' | translate}}</h1>

</bizy-toolbar>

<div class="cauquen-wrapper info">

    <bizy-table [bizyLoading]="loading">

        <bizy-table-header>
    
            <bizy-table-column [ngStyle]="{flex: 3}" (onSelect)="onSort('from')">
                <h5 class="cauquen-action--info"><strong>{{'CORE.FORM.FIELD.FROM' | translate}}</strong></h5>
                <bizy-table-column-arrows [order]="order" [show]="orderBy === 'from'"></bizy-table-column-arrows>
            </bizy-table-column>

            <bizy-table-column [ngStyle]="{flex: 3}" (onSelect)="onSort('to')">
                <h5 class="cauquen-action--info"><strong>{{'CORE.FORM.FIELD.TO' | translate}}</strong></h5>
                <bizy-table-column-arrows [order]="order" [show]="orderBy === 'to'"></bizy-table-column-arrows>
            </bizy-table-column>
    
            <bizy-table-column [ngStyle]="{flex: 3}" (onSelect)="onSort('ipc')">
                <h5 class="cauquen-action--info"><strong>{{'CORE.FORM.FIELD.INFLATION' | translate}}</strong></h5>
                <bizy-table-column-arrows [order]="order" [show]="orderBy === 'ipc'"></bizy-table-column-arrows>
            </bizy-table-column>
    
            <bizy-table-column [ngStyle]="{flex: 3}" (onSelect)="onSort('fixedRate')">
                <h5 class="cauquen-action--info"><strong>{{'CORE.FORM.FIELD.FIXED_RATE' | translate}}</strong></h5>
                <bizy-table-column-arrows [order]="order" [show]="orderBy === 'fixedRate'"></bizy-table-column-arrows>
            </bizy-table-column>
    
            <bizy-table-column [ngStyle]="{flex: 1}"></bizy-table-column>
    
        </bizy-table-header>
    
        <bizy-table-row *ngFor="let record of info | bizyOrderBy: order : orderBy">
    
            <bizy-table-column [ngStyle]="{flex: 3}" (onSelect)="goToRecord(record)"><h6>{{record.from | date: 'dd/MM/YYYY'}}</h6></bizy-table-column>

            <bizy-table-column [ngStyle]="{flex: 3}" (onSelect)="goToRecord(record)"><h6>{{record.to | date: 'dd/MM/YYYY'}}</h6></bizy-table-column>

            <bizy-table-column [ngStyle]="{flex: 3}" (onSelect)="goToRecord(record)"><h6>{{record.ipc | number : '1.2-2'}} %</h6></bizy-table-column>

            <bizy-table-column [ngStyle]="{flex: 3}" (onSelect)="goToRecord(record)"><h6>{{record.fixedRate | number : '1.2-2'}} %</h6></bizy-table-column>

            <bizy-table-column [ngStyle]="{flex: 1}" customClass="cauquen-table-column-center" (onSelect)="openConfirmPopup(record)"><i class="fa-solid fa-trash-alt cauquen-action cauquen-action--danger"></i></bizy-table-column>
    
        </bizy-table-row>
    
    </bizy-table>

    <span *ngIf="info.length === 0" class="cauquen__table--empty">{{'CORE.EMPTY' | translate}}</span>

    <bizy-fab-button (onSelect)="addRecord()">
        <i class="fa-solid fa-plus"></i>
    </bizy-fab-button>
    
</div>