<form class="cauquen-form" [formGroup]="form">

    <bizy-date-picker
        type="date"
        [date]="_date.value"
        (onChange)="_date.setValue($event)">
        <h6 slot="header" class="cauquen-title"><strong>{{'CORE.FORM.FIELD.DATE' | translate}}</strong></h6>
    </bizy-date-picker>

    <span class="cauquen-form__toggle-field">
        <h4 class="cauquen-form__toggle-field__label">{{'CORE.FORM.FIELD.INCOME' | translate}}:</h4>
        <bizy-toggle 
            [selected]="_income.value"
            (onSelect)="_income.setValue($event)">
        </bizy-toggle>
    </span>

    <bizy-input
        #amountInput
        [value]="_amount.value"
        type="number"
        (onChange)="_amount.setValue($event)">
        <h6 slot="header" class="cauquen-title"><strong>{{'CORE.FORM.FIELD.AMOUNT' | translate}}</strong></h6>
        <h6 slot="prefix">$</h6>
        <h6 slot="error" *ngIf="_amount.hasError('min') && amountInput.touched">{{'CORE.FORM.ERROR.MIN' | translate}}: {{MIN_VALUE}}</h6>
        <h6 slot="error" *ngIf="_amount.hasError('bizyNumber') && amountInput.touched">{{'CORE.FORM.ERROR.ONLY_NUMBERS' | translate}}</h6>
    </bizy-input>

    <bizy-input
        #balanceInput
        [value]="_balance.value"
        type="number"
        (onChange)="_balance.setValue($event)">
        <h6 slot="header" class="cauquen-title"><strong>{{'CORE.FORM.FIELD.BALANCE' | translate}}</strong></h6>
        <h6 slot="prefix">$</h6>
        <h6 slot="error" *ngIf="_balance.hasError('min') && balanceInput.touched">{{'CORE.FORM.ERROR.MIN' | translate}}: {{MIN_VALUE}}</h6>
        <h6 slot="error" *ngIf="_balance.hasError('bizyNumber') && balanceInput.touched">{{'CORE.FORM.ERROR.ONLY_NUMBERS' | translate}}</h6>
    </bizy-input>

    <span class="cauquen-confirm-buttons">

        <bizy-button class="cauquen-confirm-buttons__cancel" (onSelect)="_cancel()">
            <h5><i class="fa-solid fa-xmark"></i></h5>
            <h5>{{'CORE.BUTTON.CANCEL' | translate}}</h5>
        </bizy-button>

        <bizy-button class="cauquen-confirm-buttons__confirm" (onSelect)="_confirm()">
            <h5>{{'CORE.BUTTON.CONFIRM' | translate}}</h5>
            <h5><i class="fa-solid fa-check"></i></h5>
        </bizy-button>

    </span>

</form>