.cash-flow {
    --bizy-table-height: calc(100vh - var(--bizy-toolbar-height) - 7rem);
    position: relative;
}

.cash-flow__table__income {
    font-weight: bold;
    color: var(--success-color);
}

.cash-flow__table__expense {
    font-weight: bold;
    color: var(--danger-color);
}

.cash-flow__table__balance {
    font-weight: bold;
    color: var(--info-color);
}

.cash-flow__table__actions__delete {
    color: var(--danger-color);
}

::ng-deep .cash-flow__table__row--end-of-month {
    --bizy-table-row-background-color: var(--hover-color);
}