<bizy-toolbar>

    <img slot=start class="cauquen-logo" src="/assets/favicons/favicon.ico" alt="logo"/>
    
    <h1 slot=start>{{'INFO.EDIT_INFO_RECORD.TITLE' | translate}}</h1>

    <i slot=end *ngIf="!loading" class="fa-solid fa-trash-alt cauquen-action cauquen-action--danger" (click)="openConfirmPopup()"></i>

</bizy-toolbar>

<div class="cauquen-wrapper edit-country-record" [bizyLoading]="loading">

    <cauquen-country-record-form
        *ngIf="record"
        [date]="record.from"
        (cancel)="goBack()"
        (confirm)="confirm($event)">
    </cauquen-country-record-form>

</div>