.dashboard {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
}

.dashboard__charts {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.dashboard__charts__chart-wrapper {
    background-color: #fff;
    border-radius: 0.3rem;
    flex: 1;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
}

.dashboard__charts__chart-wrapper__chart {
    min-height: min(34rem, 80vw);
    min-width: min(34rem, 80vw);
}