<div class="home">

  <bizy-sidebar 
    class="home__sidebar"
    [opened]="openedSidebar"
    (onOpen)="openedSidebar = $event">

    <bizy-toolbar sidebar-header>

      <span slot=start class="home__sidebar__header">
        <img class="home__sidebar__header__logo" src="{{profilePic}}" alt="logo"/>

        <h1 class="home__sidebar__header__name" *ngIf="openedSidebar">Bizy</h1>
      </span>

    </bizy-toolbar>

    <bizy-button 
      *ngFor="let option of options"
      customClass="home__sidebar__option {{option.selected ? 'home__sidebar__option--selected' : ''}} {{openedSidebar ? 'home__sidebar__option--opened' : ''}}"
      (onSelect)="onSelect(option)">
        <i class="fa-solid {{option.icon}}"></i>

        <h4 *ngIf="openedSidebar">{{option.label | translate}}</h4>
    </bizy-button>

  </bizy-sidebar>
    
  <div class="home__content">

      <span class="home__content__router-outlet">
          <router-outlet></router-outlet>
      </span>

      <bizy-tabs class="home__tabs">

          <bizy-tab 
            *ngFor="let option of options"
            [id]="option.path"
            [selected]="option.selected"
            (onSelect)="onSelect(option)">
        
            <i tab-icon class="fa-solid {{option.icon}}"></i>
        
            <span tab-label>{{option.label | translate}}</span>
        
          </bizy-tab>
        
      </bizy-tabs>
  
  </div>

</div>
