.home {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 100vw;
  display: flex;
  overflow: hidden;
}

.home__sidebar {
  display: none;
}

.home__tabs {
  display: block;
}

@media only screen and (min-width: 768px) {
  .home__sidebar {
    display: block;
  }

  .home__tabs {
    display: none;
  }
}


.home__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.home__content__router-outlet {
  width: 100%;
  height: 100%;
  min-height: 30rem;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--background-color);
}

.home__sidebar__option {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  min-height: 1.6rem;
  min-width: 10rem;
  cursor: pointer;
}

.home__sidebar__option--selected {
  color: var(--accent-color);
}