.home__bottom-bar {
  height: 100vh;
  width: 100vw;
}

.home__bottom-bar--hidden ::ng-deep mat-tab-header {
  display: none !important;
}

::ng-deep .mdc-tab {
  min-width: 4rem !important;
}

.home__bottom-bar__tab {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__bottom-bar__tab__icon {
  font-size: 1.2rem;
}

.home__bottom-bar__tab__text {
  font-size: 0.8rem;
}