<div class="home">

  <bizy-sidebar class="home__sidebar">

    <bizy-sidebar-header>
      
      <bizy-toolbar></bizy-toolbar>

    </bizy-sidebar-header>

    <bizy-sidebar-option 
      *ngFor="let option of options"
      [selected]="option.selected" 
      (onSelect)="onSelect(option)">

      <span class="home__sidebar__option" [ngClass]="{'home__sidebar__option--selected': option.selected}" sidebar-option-content>
        
        <mat-icon>{{option.icon}}</mat-icon>
        
        <span>{{option.label | translate}}</span>

      </span>

    </bizy-sidebar-option>

  </bizy-sidebar>
    
  <div class="home__content">

      <bizy-toolbar>

          <h1 slot=start>{{toolbarTitle | translate}}</h1>

      </bizy-toolbar>

      <span class="home__content__router-outlet">
          <router-outlet></router-outlet>
      </span>

      <bizy-tabs class="home__tabs">

          <bizy-tab 
            *ngFor="let option of options"
            [id]="option.path"
            [selected]="option.selected"
            (onSelect)="onSelect(option)">
        
            <mat-icon class="home__content__tab__icon" tab-icon>{{option.icon}}</mat-icon>
        
            <span tab-label>{{option.label | translate}}</span>
        
          </bizy-tab>
        
      </bizy-tabs>
  
  </div>

</div>
